@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,700italic,400italic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

body {
	margin: 5em 15% 10em 15%;
	font-family: 'Gentium Basic', serif;
	font-size: 14pt;
	line-height: 130%;
}

@media print {
	body {
		margin: 3em 2em;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Sans', sans-serif;
}

li {
	margin-bottom: 0.5em;
}

p {
	text-align: justify;
}

code {
	font-size-adjust: .5;
}

figure {
	margin: 15px auto 30px auto;
	text-align: center;
}

figure img {
	margin: 10px 10px; 
	vertical-align: middle;
}

figcaption {
	margin-top: 10px;

	font-family: 'PT Sans', sans-serif;
}

.Footnote {
	text-decoration: underline;
	text-decoration-style: dotted;
	-moz-text-decoration-style: dotted;
}

/* Tabellen */

table {
	display: block;
	width: 50%;

	margin-left: auto;
	margin-right: auto;

	font-family: 'PT Sans', sans-serif;
}

th {
	padding: 2px;
	
	color: white;
	
	background-color: #3465A4;
}

tbody td {
	padding: 2px 5px;
	
	border-bottom: 1px #749fcf solid;

	vertical-align: top;
}

tbody tr:last-of-type td {
	border-bottom: 2px #3465A4 solid;
}

/* Layout of examples and records */

.Example,
.RecordSet,
.RecordSnippet {
	width: 33em;
	margin: 0.2em auto 0.2em auto;
	padding: 1em;
}

.RecordSet,
.RecordSnippet {
	text-align: center;
	
	font-family: 'PT Sans', sans-serif;
}

.RecordSnippet {
	overflow: hidden;
}

.Record {
	display: inline-block;
	min-width: 50%;
	
	overflow: hidden;

	margin: 10px;
	padding: 6px 15px;
	
	border: 2px #3465A4 solid;
	border-radius: 3px;

	text-align: center;
}

.RecordId {
	display: block;
	
	padding: 2px 6px;
	margin: -6px -15px 8px -15px;

	text-align: left;
	color: white;
	
	background-color: #3465A4;
}

dl {
	display: inline-block;

	margin: 0px;
	padding: 0px;
}

dt, dd {
	display: block;
	float: left;

	margin: 3px 0px;
	padding: 2px 3px;

	border: 2px #749fcf solid;

	vertical-align: top;
	white-space: normal;
}

dt {
	clear: left;

	border-right: none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;

	background-color: #749fcf;
}

dd {	
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;

	background-color: white;
}

dt.Entity {
	margin-bottom: 0px;

	border-bottom: none;
	border-right: 2px #749fcf solid;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 0px;
}

dt.Entity + dd {
	clear: left;

	margin-top: 0px;
	padding: 8px 8px 3px 8px;

	border-bottom-left-radius: 3px;
}